/**
 * @file icon.css
 */

@font-face {
    font-family: "iconfont";
    src: url("iconfont.eot"); /* IE9 */
    src: url("iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("iconfont.woff") format("woff"), /* chrome、firefox */
    url("iconfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("iconfont.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}


.iconfont {
    font-family: "iconfont" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-cuowu:before {
  content: "\e70d";
}

.icon-duihao2:before {
  content: "\e69e";
}

.icon-icon_folder:before {
  content: "\e602";
}

.icon-tishi:before {
  content: "\e63a";
}

.icon-sound_right:before {
  content: "\e604";
}

.icon-sound_left:before {
  content: "\e603";
}



